/* Mobiles first */
footer{
    background-color: black;
    color: white;
}
/* Common components */
.wrapper {
    max-width: 85%;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, button {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}
h1, h2 {
    font-weight: 300;
}
p, a, span, li {
    font-family: 'Alata', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
picture {
    display: block;
}
.logo img{
    height: auto;
    width: 150px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}
.creation picture,
.creation img {
    width: 100%;
    height: 100%;
}
/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 30px;
    width: 85%;
}
.mobile-hidden {
    display: none;
}
.hamburger-menu {
    cursor: pointer;
    width: 30px;
}
.nav-open {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 30px;
    z-index: 999;
}

.nav-open .mobile-hidden {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
}

.nav-open .mobile-hidden a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.nav-open .hamburger-menu {
    content: url("./images/icon-close.svg");
    width: 30px;
}

.nav-open .logo {
    margin-bottom: 40px;
}
.nav-open {
    margin-top: 0;
}
/* Hero Banner */
.wrapper-hero-banner{
    max-width: 85%;
    margin: 0 auto;
}
.hero-banner-section {
    background-image: url('./images/mobile/image-hero.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner-text{
    text-align: center;
    color: white;
    padding: 25px 20px;
    border: 2px solid white;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: left;
}
/* Leader in VR */
.leader-in-vr-section {
    margin: 100px 0 ;
    text-align: center;
}
.leader-in-vr-text > h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 40px 0 20px 0;
    font-weight: 300;
}
.leader-in-vr-text > p {
    font-size: 1rem;
    color: hsl(0, 0%, 55%);
    line-height: 1.6;
    max-width: 85%;
    margin: auto;
}
/* End of Leader in VR */

/* Start of Our Creations */
.our-creation-section{
    display: flex;
    flex-direction: column;
}
.our-creation-section > h2{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 50px;
}
.creations-grid {
    gap: 20px;
    display: grid;
}
.creations-card {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    font-weight: 300;
    margin: -70px 0 0 20px;
    max-width: 150px;
}
.creation {
    position: relative;
}
.see-all-button {
    margin: 30px 0 80px 0;
    align-self: center;
    width: 40%;
    font-size: 1rem;
    padding: 12px 0;
    border: 2px solid black;
    background-color: transparent;
    font-weight: 400;
    cursor: pointer;
}
/* End of Our Creations */
/* Start of Footer */
footer {
    margin: 0;
    padding: 50px 0;
}
footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}
.footer-nav-links li {
    line-height: 2.5rem;
}
.social-media-icons {
    display: flex;
    gap: 20px;
}
.copyright {
    color: hsl(0, 0%, 55%);
    font-size: 0.9rem;
}






@media screen and (min-width: 768px) {
/* Common components */
.wrapper {
    max-width: 80%;
    margin: 0 auto;
}
/* Navigation */
.navigation {
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: white;
}
.nav-links {
    display: flex;
    gap: 30px;
}
.nav-links li {
    position: relative;
    list-style: none;
}

.nav-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2.2px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.nav-links li:hover::after {
    transform: scaleX(1);
    cursor: pointer;
}
.mobile-hidden {
    display: contents;
}
.hamburger-menu {
    display: none;
}


/* Hero Banner */
.wrapper-hero-banner {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.hero-banner-section {
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.4)),
    url('./images/desktop/image-hero.jpg');
    height: 600px;
    display: flex;
    justify-content: flex-start;
}
.hero-banner-text {
    max-width: 600px;
    font-size: 3.5rem;
}



/* Leader in VR */
.leader-in-vr-section {
    display: flex;
    position: relative;
    align-items: end;
}
.leader-in-vr-text {
    background-color: white;
    width: 50%;
    height: 200px;
    margin-left: -130px;
    padding: 70px 0 0 70px;
    text-align: left;
}
.leader-in-vr-text > h2 {
    font-size: clamp(32px, 3vw, 4vw);
    margin: 0 0 10px 0;
}
.leader-in-vr-text > p {
    margin: 0;
    font-size: clamp(12px, 1vw, 18px);
}
/* End of Leader in VR */

/* Start of Our Creations */
.our-creation-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header button"
    "grid grid";
    align-items: center;
    margin: 0 0 100px 0;
}
.creations-grid {
    grid-area: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
}
.our-creation-section > h2 {
    grid-area: header;
    text-align: left;
}
.creation {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.creations-card {
    font-size: 1.6rem;
    color: white;
    position: absolute;
    font-weight: 300;
    margin: -70px 0 0 25px;
    max-width: 150px;
}
.see-all-button {
    grid-area: button;
    justify-self: end;
    width: 150px;
}
.see-all-button:hover {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.creation:hover {
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
/* End of Our Creations */
/* Start of Footer */
footer {
    margin: 0;
    padding: 50px 0;
}

footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-nav-links{
    display: flex;
    gap: 30px;
}
.footer-nav-links li {
    cursor: pointer;
}
.copyright {
    justify-self: end;
}
.social-media-icons {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.footer-nav-links li {
    position: relative;
    list-style: none;
}

.footer-nav-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.footer-nav-links li:hover::after {
    transform: scaleX(1);
    cursor: pointer;
}

}